.buttom{
  display: flex;
  cursor: pointer;
}
.buttom a{
  border: 2px solid var(--background-color);
  border-radius: 6px;
  margin-left: 2rem;
  margin-top: 15px;
  padding: 5px 5px 30px 5px;
  font-size: .8125rem;
  width: 7rem;
  height: 25px;
  text-align: center;
  font-weight: 500;
  line-height: 1.75rem;
}
.buttom a:hover{
  background-color: var(--background-color);
}