:root {
  --font-color: #3d4853;
  --background-color: #f1f4f8;
}
.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  font-family: "Red Hat Display", sans-serif;
}
.menu {
  padding: 40px 40px 20px 20px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  width: 22vw;
  height: 100vh;
  background: #ffff;
  overflow-y: auto;
}
@media (max-width: 768px) {
  .menu {
    width: 17rem;
  }
}

h1 {
  color: var(--font-color);
  font-weight: bold;
  font-size: 1.9rem;
  line-height: 2.75rem;
}
@media (max-width: 768px) {
  h1 {
    font-size: 1.2rem;
  }
}

.direction {
  margin-top: 15px;
}

.options {
  color: var(--font-color);
  margin-top: 20%;
  font-size: 1.2rem;
  font-weight: bolder;
  line-height: 2.75rem;
}

.colors-picked {
  margin-top: 20%;
  margin-left: 28px;
  color: var(--font-color);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2.75rem;
}

.gradient {
  position: relative;
  top: 0;
  bottom: 0;
  width: 78vw;
  height: 100vh;
}
@media (max-width: 768px) {
  .gradient {
    width: 90%;
  }
}
