.grid-item {
  color: #3d4853;
  border-radius: 6px;
  background-color: white;
  border: 2px solid #f1f4f8;
  margin: 4px -23px 4px 27px;
  padding: 4px;
}
button:hover {
  background-color:  #f1f4f8;
}
